#Footer {
    padding: 1rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    $color: $nav_bg-c;
    background-color: $color;
    width: 100%;
    color: set_text-c($color);
    .social {
        display: flex;
        justify-content: space-between;
        i {
            font-size: 1.5rem;
            transition: all .3s ease;
            &:hover {
                font-size: 2rem;
                cursor: pointer;
                color: $warning-c;
                transition: all .3s ease;
    
            }
            
        }
     
    }
    p {
        letter-spacing: 1.5px;
        a {
            color: $warning-c;
        }
    }

}